{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block extra_head %}
<script type="text/javascript">

$(document).ready(function(){

    $('input[name=subject_one]').click(function(){
//        $(this).val('');
        $(this).select();
    });

    $('input[name=subject_two]').click(function(){
//        $(this).val('');
        $(this).select();
    });
});
</script>
{% endblock %}

{% block main %}
<p>
Enter two subjects in the form below to elucidate the difference between them:
</p>
<div id="contact-form">
<form action="/compare/" method="post" id="contact">{% csrf_token %}
{{ errormsg1|safe }}
{{ errormsg2|safe }}
{#{{ form.as_p }}#}
<p><label for="id_subject_one">Subject one:</label><input type="text" name="subject_one" value="Apple" id="id_subject_one" /></p>
<p><label for="id_subject_two">Subject two:</label><input type="text" name="subject_two" value="Orange" id="id_subject_two" /></p>
<input type="submit" value="Submit" />
</form>
</div>

{% endblock %}

{% block extra_header %}<h1>Compare two subjects:</h1>{% endblock %}

{% block extra_footer %}
{% spaceless %}
<h4>Explore Topics: </h4>
<ol class="explore-list">
    <li><a href='/explore-topics/a/'>A</a></li>
    <li><a href='/explore-topics/b/'>B</a></li>
    <li><a href='/explore-topics/c/'>C</a></li>
    <li><a href='/explore-topics/d/'>D</a></li>
    <li><a href='/explore-topics/e/'>E</a></li>
    <li><a href='/explore-topics/f/'>F</a></li>
    <li><a href='/explore-topics/g/'>G</a></li>
    <li><a href='/explore-topics/h/'>H</a></li>
    <li><a href='/explore-topics/i/'>I</a></li>
    <li><a href='/explore-topics/j/'>J</a></li>
    <li><a href='/explore-topics/k/'>K</a></li>
    <li><a href='/explore-topics/l/'>L</a></li>
    <li><a href='/explore-topics/m/'>M</a></li>
    <li><a href='/explore-topics/n/'>N</a></li>
    <li><a href='/explore-topics/o/'>O</a></li>
    <li><a href='/explore-topics/p/'>P</a></li>
    <li><a href='/explore-topics/q/'>Q</a></li>
    <li><a href='/explore-topics/r/'>R</a></li>
    <li><a href='/explore-topics/s/'>S</a></li>
    <li><a href='/explore-topics/t/'>T</a></li>
    <li><a href='/explore-topics/u/'>U</a></li>
    <li><a href='/explore-topics/v/'>V</a></li>
    <li><a href='/explore-topics/w/'>W</a></li>
    <li><a href='/explore-topics/x/'>X</a></li>
    <li><a href='/explore-topics/w/'>Y</a></li>
    <li><a href='/explore-topics/z/'>Z</a></li>
</ol>
{% endspaceless %}
{% endblock %}
