{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block extra_header %}
<h1>Explore Comparisons Alphabetically</h1>
{% endblock %}

{% block main %}
    <p>Explore the comparisons listed below in alphabetical order.</p>
    
    <ol style="list-style-type: none;">
        <li>A: <a href='/explore-topics/a/'>{{ alpha_dict.a|length }} comparisons</a>
            {% if alpha_dict.a  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.a.0 }}/">{{ alpha_dict.a.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for a in alpha_dict.a  %}#}
{#                    <li><a href="/compare/{{ a }}/">{{ a.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>B: <a href='/explore-topics/b/'>{{ alpha_dict.b|length }} comparisons</a>
            {% if alpha_dict.b  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.b.0 }}/">{{ alpha_dict.b.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for b in alpha_dict.b  %}#}
{#                    <li><a href="/compare/{{ b }}/">{{ b.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>C: <a href='/explore-topics/c/'>{{ alpha_dict.c|length }} comparisons</a>
            {% if alpha_dict.c  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.c.0 }}/">{{ alpha_dict.c.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for c in alpha_dict.c  %}#}
{#                    <li><a href="/compare/{{ c }}/">{{ c.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>D: <a href='/explore-topics/d/'>{{ alpha_dict.d|length }} comparisons</a>
            {% if alpha_dict.d  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.d.0 }}/">{{ alpha_dict.d.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for d in alpha_dict.d  %}#}
{#                    <li><a href="/compare/{{ d }}/">{{ d.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>E: <a href='/explore-topics/e/'>{{ alpha_dict.e|length }} comparisons</a>
            {% if alpha_dict.e  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.e.0 }}/">{{ alpha_dict.e.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for e in alpha_dict.e  %}#}
{#                    <li><a href="/compare/{{ e }}/">{{ e.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>F: <a href='/explore-topics/f/'>{{ alpha_dict.f|length }} comparisons</a>
            {% if alpha_dict.f  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.f.0 }}/">{{ alpha_dict.f.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for f in alpha_dict.f  %}#}
{#                    <li><a href="/compare/{{ f }}/">{{ f.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>G: <a href='/explore-topics/g/'>{{ alpha_dict.g|length }} comparisons</a>
            {% if alpha_dict.g  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.g.0 }}/">{{ alpha_dict.g.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for g in alpha_dict.g  %}#}
{#                    <li><a href="/compare/{{ g }}/">{{ g.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>H: <a href='/explore-topics/h/'>{{ alpha_dict.h|length }} comparisons</a>
            {% if alpha_dict.h  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.h.0 }}/">{{ alpha_dict.h.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for h in alpha_dict.h  %}#}
{#                    <li><a href="/compare/{{ h }}/">{{ h.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>I: <a href='/explore-topics/i/'>{{ alpha_dict.i|length }} comparisons</a>
            {% if alpha_dict.i  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.i.0 }}/">{{ alpha_dict.i.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for i in alpha_dict.i  %}#}
{#                    <li><a href="/compare/{{ i }}/">{{ i.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>J: <a href='/explore-topics/j/'>{{ alpha_dict.j|length }} comparisons</a>
            {% if alpha_dict.j  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.j.0 }}/">{{ alpha_dict.j.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for j in alpha_dict.j  %}#}
{#                    <li><a href="/compare/{{ j }}/">{{ j.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
         <li>K: <a href='/explore-topics/k/'>{{ alpha_dict.k|length }} comparisons</a>
             {% if alpha_dict.k  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.k.0 }}/">{{ alpha_dict.k.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for k in alpha_dict.k  %}#}
{#                    <li><a href="/compare/{{ k }}/">{{ k.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>L: <a href='/explore-topics/l/'>{{ alpha_dict.l|length }} comparisons</a>
            {% if alpha_dict.l  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.l.0 }}/">{{ alpha_dict.l.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for l in alpha_dict.l  %}#}
{#                    <li><a href="/compare/{{ l }}/">{{ l.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>M: <a href='/explore-topics/m/'>{{ alpha_dict.m|length }} comparisons</a>
            {% if alpha_dict.m  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.m.0 }}/">{{ alpha_dict.m.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for m in alpha_dict.m  %}#}
{#                    <li><a href="/compare/{{ m }}/">{{ m.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>N: <a href='/explore-topics/n/'>{{ alpha_dict.n|length }} comparisons</a>
            {% if alpha_dict.n  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.n.0 }}/">{{ alpha_dict.n.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for n in alpha_dict.n  %}#}
{#                    <li><a href="/compare/{{ n }}/">{{ n.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>O: <a href='/explore-topics/o/'>{{ alpha_dict.o|length }} comparisons</a>
            {% if alpha_dict.o  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.o.0 }}/">{{ alpha_dict.o.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for o in alpha_dict.o  %}#}
{#                    <li><a href="/compare/{{ o }}/">{{ o.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>P: <a href='/explore-topics/p/'>{{ alpha_dict.p|length }} comparisons</a>
            {% if alpha_dict.p  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.p.0 }}/">{{ alpha_dict.p.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for p in alpha_dict.p  %}#}
{#                    <li><a href="/compare/{{ p }}/">{{ p.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>Q: <a href='/explore-topics/q/'>{{ alpha_dict.q|length }} comparisons</a>
            {% if alpha_dict.q  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.q.0 }}/">{{ alpha_dict.q.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for q in alpha_dict.q  %}#}
{#                    <li><a href="/compare/{{ q }}/">{{ q.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>R: <a href='/explore-topics/r/'>{{ alpha_dict.r|length }} comparisons</a>
            {% if alpha_dict.r  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.r.0 }}/">{{ alpha_dict.r.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for r in alpha_dict.r  %}#}
{#                    <li><a href="/compare/{{ r }}/">{{ r.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>S: <a href='/explore-topics/s/'>{{ alpha_dict.s|length }} comparisons</a>
            {% if alpha_dict.s  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.s.0 }}/">{{ alpha_dict.s.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for s in alpha_dict.s  %}#}
{#                    <li><a href="/compare/{{ s }}/">{{ s.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>T: <a href='/explore-topics/t/'>{{ alpha_dict.t|length }} comparisons</a>
            {% if alpha_dict.t  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.t.0 }}/">{{ alpha_dict.t.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for t in alpha_dict.t  %}#}
{#                    <li><a href="/compare/{{ t }}/">{{ t.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>U: <a href='/explore-topics/u/'>{{ alpha_dict.u|length }} comparisons</a>
            {% if alpha_dict.u  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.u.0 }}/">{{ alpha_dict.u.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for u in alpha_dict.u  %}#}
{#                    <li><a href="/compare/{{ u }}/">{{ u.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>V: <a href='/explore-topics/v/'>{{ alpha_dict.v|length }} comparisons</a>
            {% if alpha_dict.v  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.v.0 }}/">{{ alpha_dict.v.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for v in alpha_dict.v  %}#}
{#                    <li><a href="/compare/{{ v }}/">{{ v.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>W: <a href='/explore-topics/w/'>{{ alpha_dict.w|length }} comparisons</a>
            {% if alpha_dict.w  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.w.0 }}/">{{ alpha_dict.w.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for w in alpha_dict.w  %}#}
{#                    <li><a href="/compare/{{ w }}/">{{ w.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>X: <a href='/explore-topics/x/'>{{ alpha_dict.x|length }} comparisons</a>
            {% if alpha_dict.x  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.x.0 }}/">{{ alpha_dict.x.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for x in alpha_dict.x  %}#}
{#                    <li><a href="/compare/{{ x }}/">{{ x.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>Y: <a href='/explore-topics/y/'>{{ alpha_dict.y|length }} comparisons</a>
            {% if alpha_dict.y  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.y.0 }}/">{{ alpha_dict.y.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for y in alpha_dict.y  %}#}
{#                    <li><a href="/compare/{{ y }}/">{{ y.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
        <li>Z: <a href='/explore-topics/z/'>{{ alpha_dict.z|length }} comparisons</a>
            {% if alpha_dict.z  %}
                | (<em>Most recent comparison</em>: <a href="/compare/{{ alpha_dict.z.0 }}/">{{ alpha_dict.z.0 }}</a>)
            {% endif %}
{#            <ul>#}
{#                {% for z in alpha_dict.z  %}#}
{#                    <li><a href="/compare/{{ z }}/">{{ z.title }}</a></li>#}
{#                {% endfor %}#}
{#            </ul>#}
        </li>
    </ol>


    {% comment %}{% spaceless %}
    <ol style="list-style-type: none; display: inline;">
        <li><a href='/explore-topics/a/'>A</a></li>
        <li><a href='/explore-topics/b/'>B</a></li>
        <li><a href='/explore-topics/c/'>C</a></li>
        <li><a href='/explore-topics/d/'>D</a></li>
        <li><a href='/explore-topics/e/'>E</a></li>
        <li><a href='/explore-topics/f/'>F</a></li>
        <li><a href='/explore-topics/g/'>G</a></li>
        <li><a href='/explore-topics/h/'>H</a></li>
        <li><a href='/explore-topics/i/'>I</a></li>
        <li><a href='/explore-topics/j/'>J</a></li>
        <li><a href='/explore-topics/k/'>K</a></li>
        <li><a href='/explore-topics/l/'>L</a></li>
        <li><a href='/explore-topics/m/'>M</a></li>
        <li><a href='/explore-topics/n/'>N</a></li>
        <li><a href='/explore-topics/o/'>O</a></li>
        <li><a href='/explore-topics/p/'>P</a></li>
        <li><a href='/explore-topics/q/'>Q</a></li>
        <li><a href='/explore-topics/r/'>R</a></li>
        <li><a href='/explore-topics/s/'>S</a></li>
        <li><a href='/explore-topics/t/'>T</a></li>
        <li><a href='/explore-topics/u/'>U</a></li>
        <li><a href='/explore-topics/v/'>V</a></li>
        <li><a href='/explore-topics/w/'>W</a></li>
        <li><a href='/explore-topics/x/'>X</a></li>
        <li><a href='/explore-topics/w/'>Y</a></li>
        <li><a href='/explore-topics/z/'>Z</a></li>
    </ol>
{% endspaceless %}{% endcomment %}
{% endblock %}

{% block extra_footer %}
{% comment %}{% spaceless %}
<h4>Explore Topics: </h4>
<ol class="explore-list">
    <li><a href='/explore-topics/a/'>A</a></li>
    <li><a href='/explore-topics/b/'>B</a></li>
    <li><a href='/explore-topics/c/'>C</a></li>
    <li><a href='/explore-topics/d/'>D</a></li>
    <li><a href='/explore-topics/e/'>E</a></li>
    <li><a href='/explore-topics/f/'>F</a></li>
    <li><a href='/explore-topics/g/'>G</a></li>
    <li><a href='/explore-topics/h/'>H</a></li>
    <li><a href='/explore-topics/i/'>I</a></li>
    <li><a href='/explore-topics/j/'>J</a></li>
    <li><a href='/explore-topics/k/'>K</a></li>
    <li><a href='/explore-topics/l/'>L</a></li>
    <li><a href='/explore-topics/m/'>M</a></li>
    <li><a href='/explore-topics/n/'>N</a></li>
    <li><a href='/explore-topics/o/'>O</a></li>
    <li><a href='/explore-topics/p/'>P</a></li>
    <li><a href='/explore-topics/q/'>Q</a></li>
    <li><a href='/explore-topics/r/'>R</a></li>
    <li><a href='/explore-topics/s/'>S</a></li>
    <li><a href='/explore-topics/t/'>T</a></li>
    <li><a href='/explore-topics/u/'>U</a></li>
    <li><a href='/explore-topics/v/'>V</a></li>
    <li><a href='/explore-topics/w/'>W</a></li>
    <li><a href='/explore-topics/x/'>X</a></li>
    <li><a href='/explore-topics/w/'>Y</a></li>
    <li><a href='/explore-topics/z/'>Z</a></li>
</ol>
{% endspaceless %}{% endcomment %}
{% endblock %}
