{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}
{#    {% trans "Home" %}#}
{% endblock %}

{% block meta_extra %}
    <meta name="verifyownership" content="41b36eb0f4b6f8c42658db81a750e8e7" />
{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<p>{% trans "Welcome to The Difference Between - a place where you can create, compare, and comment on exactly what the difference is between two subjects. Mostly: nouns, verbs, adjectives, and adverbs. However, you can enter locations, and even people, to compare. Or create your own comparisons through comments section. What are you waiting for? "%}
</p>
<h1><a href="/compare/">{% trans "Compare The Difference" %}</a></h1>

<h2>{% trans "Ten Most Recent Comparisons" %}</h2>
<ul>
{% for c in most_recent %}
<li><a href="{{ c.get_absolute_url }}">{{ c.title }}</a>
{% if c.get_related_content.count > 1 %}  (and {{ c.get_related_content.count|add:"-1" }} related comparison{{ c.get_related_content.count|add:"-1"|pluralize }}){% endif %}</li>
{% endfor %}
</ul>

{% endblock %}

{% block extra_footer %}
{% spaceless %}
<h4>Explore Topics: </h4>
<ol class="explore-list">
    <li><a href='/explore-topics/a/'>A</a></li>
    <li><a href='/explore-topics/b/'>B</a></li>
    <li><a href='/explore-topics/c/'>C</a></li>
    <li><a href='/explore-topics/d/'>D</a></li>
    <li><a href='/explore-topics/e/'>E</a></li>
    <li><a href='/explore-topics/f/'>F</a></li>
    <li><a href='/explore-topics/g/'>G</a></li>
    <li><a href='/explore-topics/h/'>H</a></li>
    <li><a href='/explore-topics/i/'>I</a></li>
    <li><a href='/explore-topics/j/'>J</a></li>
    <li><a href='/explore-topics/k/'>K</a></li>
    <li><a href='/explore-topics/l/'>L</a></li>
    <li><a href='/explore-topics/m/'>M</a></li>
    <li><a href='/explore-topics/n/'>N</a></li>
    <li><a href='/explore-topics/o/'>O</a></li>
    <li><a href='/explore-topics/p/'>P</a></li>
    <li><a href='/explore-topics/q/'>Q</a></li>
    <li><a href='/explore-topics/r/'>R</a></li>
    <li><a href='/explore-topics/s/'>S</a></li>
    <li><a href='/explore-topics/t/'>T</a></li>
    <li><a href='/explore-topics/u/'>U</a></li>
    <li><a href='/explore-topics/v/'>V</a></li>
    <li><a href='/explore-topics/w/'>W</a></li>
    <li><a href='/explore-topics/x/'>X</a></li>
    <li><a href='/explore-topics/w/'>Y</a></li>
    <li><a href='/explore-topics/z/'>Z</a></li>
</ol>
{% endspaceless %}
{% endblock %}
