{% extends "base.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n  %}

{% block meta_title %}{{ diffdata.title }}{% endblock %}

{% comment %}{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}{% endcomment %}

{% block meta_description %}{% metablock %}
This page describes the differences and nuances between {{ diffdata.title }}
{% endmetablock %}{% endblock %}

{% block title %}
{{ diffdata.title }}
{% endblock %}

{% block extra_breadcrumb %}
    <li>{{ diffdata.title }}</li>
{% endblock %}

{% block extra_header %}
    Compare:
{% endblock %}

{% block main %}
    <div id="subject_one">
    Query: <em>{{ diffdata.subject_one|safe }}</em><br />
    {{ diffdata.subject_one_data|safe}}
    </div>
    <hr />
    <div id="subject_two">
    Query: <em>{{ diffdata.subject_two|safe }}</em><br />
    {{ diffdata.subject_two_data|safe }}
    </div>
    <hr />
    <div>
    {% if diffdata.allow_comments %}(<a href="#comments">{% spaceless %}
        {% blocktrans count diffdata.comments_count as comments_count %}
        1 comment
        {% plural %}
        {{ comments_count }} comments
        {% endblocktrans %}
    {% endspaceless %}</a>){% endif %}
    </div>
    <hr />
    <div>
        {% rating_for diffdata %}
    </div>
    <hr />
    <div>
        {% if diffdata.allow_comments %}{% comments_for diffdata %}{% endif %}
    </div>
{% endblock %}


{% block extra_footer %}
{% spaceless %}
<h4>Explore Topics: </h4>
<ol class="explore-list">
    <li><a href='/explore-topics/a/'>A</a></li>
    <li><a href='/explore-topics/b/'>B</a></li>
    <li><a href='/explore-topics/c/'>C</a></li>
    <li><a href='/explore-topics/d/'>D</a></li>
    <li><a href='/explore-topics/e/'>E</a></li>
    <li><a href='/explore-topics/f/'>F</a></li>
    <li><a href='/explore-topics/g/'>G</a></li>
    <li><a href='/explore-topics/h/'>H</a></li>
    <li><a href='/explore-topics/i/'>I</a></li>
    <li><a href='/explore-topics/j/'>J</a></li>
    <li><a href='/explore-topics/k/'>K</a></li>
    <li><a href='/explore-topics/l/'>L</a></li>
    <li><a href='/explore-topics/m/'>M</a></li>
    <li><a href='/explore-topics/n/'>N</a></li>
    <li><a href='/explore-topics/o/'>O</a></li>
    <li><a href='/explore-topics/p/'>P</a></li>
    <li><a href='/explore-topics/q/'>Q</a></li>
    <li><a href='/explore-topics/r/'>R</a></li>
    <li><a href='/explore-topics/s/'>S</a></li>
    <li><a href='/explore-topics/t/'>T</a></li>
    <li><a href='/explore-topics/u/'>U</a></li>
    <li><a href='/explore-topics/v/'>V</a></li>
    <li><a href='/explore-topics/w/'>W</a></li>
    <li><a href='/explore-topics/x/'>X</a></li>
    <li><a href='/explore-topics/w/'>Y</a></li>
    <li><a href='/explore-topics/z/'>Z</a></li>
</ol>
{% endspaceless %}
{% endblock %}