{% extends "base2.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n  %}

{% block meta_title %}{{ diffdata.title }}{% endblock %}

{% comment %}{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}{% endcomment %}

{% block meta_description %}{% metablock %}
This page describes the differences and nuances between {{ diffdata.title }}
{% endmetablock %}{% endblock %}

{% block title %}
{{ diffdata.title }}
{% endblock %}

{% block extra_breadcrumb %}
    <li>{{ diffdata.title|title }}</li>
{% endblock %}

{% block extra_header %}<h1>{{ diffdata.title|title }}</h1>{% endblock %}

{% block main_top %}
<div>
{% if diffdata.allow_comments %}(<a href="#comments">{% spaceless %}
    {% blocktrans count diffdata.comments_count as comments_count %}
    1 Comparison
    {% plural %}
    {{ comments_count }} Comparisons
    {% endblocktrans %}
{% endspaceless %}</a>){% endif %}
</div>
<hr />
{% endblock %}

{% block leftside %}
<div id="subject_one">
    <h2><em>{{ diffdata.subject_one|title|safe }}</em></h2>
    <p>{{ diffdata.subject_one_data|safe}}</p>
    {{ diffdata.subject_one_data_dictservice|safe}}
    </div>
{% endblock %}

{% block rightside %}
    <div id="subject_two">
    <h2><em>{{ diffdata.subject_two|title|safe }}</em></h2>
    <p>{{ diffdata.subject_two_data|safe }}</p>
    {{ diffdata.subject_two_data_dictservice|safe }}
    </div>
{% endblock %}

{% block main %}
    <div id="data_sources">
    <h4>Data Sources: </h4>
        <ul>{{ diffdata.subject_data_sources|safe }}</ul>
    </div>

    <div>
    {% if diffdata.allow_comments %}(<a href="#comments">{% spaceless %}
        {% blocktrans count diffdata.comments_count as comments_count %}
        1 User Comparison
        {% plural %}
        {{ comments_count }} User Comparisons
        {% endblocktrans %}
    {% endspaceless %}</a>){% endif %}
    </div>
    <hr />
    <div>
        {% rating_for diffdata %}
    </div>
    <hr />
    <div>
        {% if diffdata.allow_comments %}{% comments_for diffdata %}{% endif %}
    </div>
{% endblock %}